body {
  background-color: #1B0021;
}
.head {
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  color: #fff;
}
.head img {
  position: absolute;
  top: 50%;
  left: 12px;
  height: 24px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.head h1 {
  display: inline-block;
  font-size: 20px;
  padding: 12px 0;
  color: #F9EBF6;
}
.aboutUsContent {
  padding: 0 25px;
  color: #fff;
}
.aboutUsContent div {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #F9EBF6;
}
.aboutUsContent p {
  line-height: 24px;
  color: #C4B7C6;
  letter-spacing: 1px;
  font-size: 17px;
  margin-bottom: 34px;
}
